// I M P O R T
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
@import "_variables.scss";

*{
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// GENERAL
body{
	width: 100%;
	margin:0;
	color:#000;
	font-family: 'maison', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{font-family: 'maison', sans-serif;}
h1{font-size:$h1small; text-transform:uppercase; line-height:1;}
h2{font-size:$h2; text-transform:uppercase;}
h3{font-size:$h3; font-weight: normal;} h4,h5,h6{font-size:$text;}
h4{
	color: $corail;
	margin-top: $padding;
	margin-bottom: 0px;
	font-weight: bold;
}
h5{font-weight:bold;margin-top:10px; margin-bottom:2px;}
a{
	color:#000; 
	&:hover{color:$corail; text-decoration:none;}
}
ul{
	margin:0; 
	padding: 0;
}
li{list-style:none;font-size:$text;}
p{font-size:$text;}
figure{margin-top:30px; margin-left:0px;}
img{width:100%; max-width:100%; vertical-align: top;}
video{width:100%; max-width:100%; vertical-align: top; border: 1px solid $corail}
p + blockquote{
	margin-bottom:0;
}
p + ul{
	font-size:$text;
	padding-left: 15px;
	li{
		list-style: disc;
		margin-bottom:0;
		font-size:$text;
	}
} 
blockquote{
	color:#000;
	border:none;
	margin:0;
	padding:0 0 0 35px;
	p{
		color:#000;
	}
}

input[type='radio']{
	margin-right: $padding/2;
}

input[type='button'], #mc_embed_signup .button{
	background-color: $corail !important;
}

.no-underline{
	text-decoration:none !important;
}

.fa-brands{
	font-family: "FontAwesome";
	font-style: normal;
}

main{
	max-width: 100em;
	width:100%;
}

.list{
	a{
		text-decoration: none;
	}
	.listEl{
		border: $border solid $corail;
		list-style: none;
		margin: 0;
		margin-right: $gouttiere;
		margin-bottom: $gouttiere;
		&.col-xs-12, &.col-xs-6, &.col-xs-4, &.col-xs-3{
			max-width: calc(100% - (#{$gouttiere}*3);
			flex-basis: calc(100% - (#{$gouttiere}*3);
		};
		h3{
			color: #EA6358;
			font-size: 1.1em;
			font-weight: bold;
		}
		p{
			color: #EA6358;
		}
	}
}


// HEADER
header{
	width: 100%;
	max-width: 100em;
	left:0;
	top:0;
	position: relative; 
	padding: $padding;
	&.row{margin:0;}
	a{text-decoration:none;}
	.logo{max-width: 2em;}
	.mobile-menu{
		display:flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}
	.mobile-menu_logo{
		padding: $padding $padding 0 $padding;
	}
	.mobile-menu_btn{
		display:block;
		position:absolute;
		right: $padding*2; 
		top: $padding * 1.5;
		cursor:pointer;
		height:24px;
		width: 24px;
		span {
		  display:block;
		  background:#000;
		  height:2px;
		  width:26px;
		  position:absolute;
		  transition:all 0.5s ease;
		  background: $corail;
		}
		span:nth-child(1){top:0px;}
		span:nth-child(2){top:8px;}
		span:nth-child(3){top:16px;}

		.transparent {opacity:0;}
		.rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:2px}
		.rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 15%;}
	}
	.description {
		padding: 0;
		a{
			color:$corail;
			text-decoration: underline;
			font-weight: bold;
			font-size: $menu;
			letter-spacing: 0.01em;
		}
	}
	.nav{
		max-height:0; 
		overflow:hidden; 
		background: #FFF;
		margin:0;
		width: 100%;
		font-size: $menu;
		line-height: 1.1;
		transition: max-height 0.8s linear;
		&.active{
			max-height: 100vh; 
			overflow: auto;
		}
	}
	.main-nav{
		padding: 0;
		.menu-1{
			margin-right: $padding*3;
		}
		.menu-1::after, .projets-menu::after, .static-menu::after{
			content: "-";
			display: block;
		}
		ul{padding: 0;}
		li{
			padding-top: 2px; 
			padding-bottom:2px;
			cursor: pointer;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			a.active{
				color: $corail;
			}				
		}
	}
	.main-nav_first-level{
		& > li{
			&:hover, &:hover > a{
				color: #000;
				&::before{color: #000;}
			}
		}
	}
	.social-network li{
		display: inline-block;
		margin-right: 7px;
		margin-top: 5px;
		font-size: 18px;

	}
}

// FOOTER
footer{
	position: relative;
	left: 18px;
	display:inline-block;
	width:auto;
	margin: 40px 0 $padding 0;
	p, a{
		color: $corail;
		font-size:13px;
		text-decoration:none;
	}
}

// CONTENT
.content{
	min-height: 68vh;
	display:none;
}

.images-illu-wrapper{
	display: none;
}


.texte-courant-page, .actu-grid .actu-text{
	h3{
		margin-top:$padding;
		margin-bottom: $padding;
		font-weight: normal;
	}
	ul{
		padding-left: $padding;
		li{
			list-style: disc;
			margin: $padding/2 0;
		}
	}
}

//----- Ressources -----
.content{
	.infos-page{
		margin-top: $padding;
		color: $corail;
		padding-right: 0;
		p, a{font-size:$textress;}
		h4{font-size:$textress;}
		h4 +p{margin-top: 0;}
		h4,h5,h6{color:$corail; font-weight:bold; margin:0px;}
		a{color: $corail; text-decoration:underline; &:hover{text-decoration:underline;}}
		li{margin-bottom:1.25rem;}
		.infos-ressources{
			border: $border solid $corail;
			padding: $padding;
			margin-top: $padding*2;
			h4{margin-bottom:$padding}
			.ressources-list{padding: 0; }
			li{
				padding:$padding/2 $padding;
				margin-bottom:0;
				word-wrap: break-word;
				a{text-decoration: none;}
				.ress-icon{
					padding-left: 0;
					max-width: 64px;
				}
				.ress-caption{
					padding: 0;
					p{
						margin: 0;
					}
				}	
			}
		}
	}
}

.actu-grid{
	margin-top: $padding *4;
	ul{padding: 0;}
	li{margin-bottom: $padding * 2;}
	.button-actu{
		display:none;
	}
	.actu-texte{
		border: $border solid $corail;
		padding: $padding;
		color: $corail;
		background:#FFF;
		position: relative;
		h2,h3,h4,h5{
			color: $corail;
			font-size: $menu;
			margin:0;
		}
		p{
			&:after{
				content: "";
				display: block; 
				height: $padding*2;
			}
		}
		.date-actu{
			text-decoration: underline;
			position: absolute; 
			bottom: $padding;
			left: $padding;
		}
		.lire-plus{
			position: absolute; 
			bottom: $padding;
			right: $padding;
		}
	}
	.actu-image{
		border: $border solid $corail;
		position:relative;
		margin-top: -2px;
		&.portrait{
			width: 50%;
		}
	}
}


// -------------- HOME -------------- 
body[data-template="home"]{
	.description-amac{
		font-size: $menu;
		color: $corail;
	}
	.text-menu{
		a{
			text-decoration:none;
			&:hover{color:$corail; text-decoration:none;}
		}
		p{
			font-size: 1.5em;
			margin-bottom: 0px;
		}
	}
}

body[data-template="page"], 
body[data-template="journal"],
body[data-template="actu"], 
body[data-template="default"], 
body[data-template="contact"],
body[data-template="error"],
body[data-template="equipe"],
body[data-template="projet"],
body[data-template="projets"],
body[data-template="references"], 
body[data-template="newsletter"]{
	overflow-x:hidden;
	.content{
		margin-top: 50px;
		position: relative;
		h1{
			padding: 0 $padding;
			color: $corail;
			font-weight: bold;
			text-transform:uppercase;
			max-width: 100%;
		}
		h1.h1-clone{
			display: none;
		}
	}

}

body[data-template="projets"]{
	.content{
		min-height: 75vh;
		.images-grid{
			li{
				.actu-texte{
					padding: $padding;
					color: $corail;
					background:#FFF;
					position:relative;
					h2,h3,h4,h5{
						color: $corail;
						font-size: $menu;
						margin:0;
					}
					p{
						font-size: $text;
					}
					a{
						color:$corail;
						text-decoration: underline;
					}
					.date-actu{
						text-decoration: underline;
						display:block;
						left: $padding;
						bottom: $padding;
					}
					.lire-plus{
						display:block;
						color:#000;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

body[data-template="projet"]{
	.images-projet{
		padding:0px;
		padding-top: $padding;
		// margin-left: 1rem;
		figure{
			margin: 0;
			padding-left:$padding;
			padding-right:0;
			padding-top:$padding;
		}
		.row{
			margin: 0px;
			padding:0px;
		}
	}
	.content .infos-page p{
		font-size: $text;
	}
}

body[data-template="journal"]{
	.actu-grid{
		li.actus{
			position:relative;
			border-top: 1px dotted $corail;
			padding-top: $padding;
			width:100%;
			&.active{
				h2{
					color:$corail !important;
				}
				.actu-resume{
					display:none;
				}
				.actu-text{
					display:block;
				}
				.actu-images{
					display:block;
				}
				.arrow-wrapper{
					.arrow{
						.open{display:none;}
						.close{display:block;}
					}
				}
			}
			.actu-name{
				.actu-date{
					color: $corail;
					font-size: $text;
					font-weight: bold;
					text-decoration: underline;
				}
				h2{
					font-size:$h2;
					text-transform: none;
					margin-top: 11px;
					color:#000;
					font-weight: normal;
					margin-bottom: $padding;
				}
			}
			.actu-text{
				display:none;
			}
			.arrow-wrapper{
				position:relative;
				.arrow{
					color: $corail; 
					cursor:pointer;
					position:absolute;
					right: 0;
					bottom: 0px;
					.close{
						display:none;
					}
				}
			}
			.actu-images{
				display:none;
				cursor:move;
			}

		}
	}
	.actu-page{
		padding-top: $padding;
		margin-bottom: $padding;
		border-top: 1px dotted $corail;
		li{
			display: inline-block;
			color: $corail;
			padding: 0px 5px;
			a{
				color: $corail;
				text-decoration: none;
				&:hover{border-bottom:1px solid $corail}
				&.active{
					border-bottom:1px solid $corail
				}
			}
		}
	}
}

body[data-template="contact"]{
	h3{
		color: $corail;
		font-size: $menu;
		font-weight: bold;
		&:after{
			content:"—";
			color: #000;
			display:block;
			font-weight: normal;
		}
	}
}

body[data-template="equipe"]{
	.equipe-chapeau{
		font-size: $menu;
		font-weight: bold;
		color: $corail;
	}

}

body[data-template="references"]{
	.content ul{
		padding: 0;
		line-height: 1.5;
	}
	h4{
		font-size: $menu;
		color: $corail;
		font-weight: bold;
		&:after{
			content:'—';
			color:#000;
			display:block;
			font-weight: normal;
		}
	}
	a{
		text-decoration: none;
		&:hover{
			text-decoration: none;
			color:$corail;
		}
	}
	.institutions{
		li{
			padding-left: 35px;
			text-indent: -35px;
		}
	}
}

body[data-template="actu"]{
	.actu-texte-date{
		color: $corail; 
		text-decoration: underline;
	}

}

body[data-template="error"]{
	overflow:hidden;
	canvas {
		display:none;
  	border: 2px solid $corail;
	}
}

@import "_responsive.scss";

// MIXINS
.hyphen{
	-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

