@charset "UTF-8";
@import url(../../bower_components/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: 'maison';
  src: url("../fonts/maisonneue-medium-webfont.eot");
  src: url("../fonts/maisonneue-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maisonneue-medium-webfont.woff2") format("woff2"), url("../fonts/maisonneue-medium-webfont.woff") format("woff"), url("../fonts/maisonneue-medium-webfont.ttf") format("truetype"), url("../fonts/maisonneue-medium-webfont.svg#maison_neuemedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'maison';
  src: url("../fonts/maisonneue-mediumitalic-webfont.eot");
  src: url("../fonts/maisonneue-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maisonneue-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/maisonneue-mediumitalic-webfont.woff") format("woff"), url("../fonts/maisonneue-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/maisonneue-mediumitalic-webfont.svg#maison_neuemedium_italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'maison';
  src: url("../fonts/maisonneue-bold-webfont.eot");
  src: url("../fonts/maisonneue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/maisonneue-bold-webfont.woff2") format("woff2"), url("../fonts/maisonneue-bold-webfont.woff") format("woff"), url("../fonts/maisonneue-bold-webfont.ttf") format("truetype"), url("../fonts/maisonneue-bold-webfont.svg#maison_neuebold") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  width: 100%;
  margin: 0;
  color: #000;
  font-family: 'maison', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'maison', sans-serif; }

h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  line-height: 1; }

h2 {
  font-size: 2em;
  text-transform: uppercase; }

h3 {
  font-size: 2em;
  font-weight: normal; }

h4, h5, h6 {
  font-size: 15px; }

h4 {
  color: #EA6358;
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: bold; }

h5 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px; }

a {
  color: #000; }
  a:hover {
    color: #EA6358;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  font-size: 15px; }

p {
  font-size: 15px; }

figure {
  margin-top: 30px;
  margin-left: 0px; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: top; }

video {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  border: 1px solid #EA6358; }

p + blockquote {
  margin-bottom: 0; }

p + ul {
  font-size: 15px;
  padding-left: 15px; }
  p + ul li {
    list-style: disc;
    margin-bottom: 0;
    font-size: 15px; }

blockquote {
  color: #000;
  border: none;
  margin: 0;
  padding: 0 0 0 35px; }
  blockquote p {
    color: #000; }

input[type='radio'] {
  margin-right: 7.5px; }

input[type='button'], #mc_embed_signup .button {
  background-color: #EA6358 !important; }

.no-underline {
  text-decoration: none !important; }

.fa-brands {
  font-family: "FontAwesome";
  font-style: normal; }

main {
  max-width: 100em;
  width: 100%; }

.list a {
  text-decoration: none; }

.list .listEl {
  border: 2px solid #EA6358;
  list-style: none;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px; }
  .list .listEl.col-xs-12, .list .listEl.col-xs-6, .list .listEl.col-xs-4, .list .listEl.col-xs-3 {
    max-width: calc(100% - (15px*3));
    -ms-flex-preferred-size: calc(100% - (15px*3));
    flex-basis: calc(100% - (15px*3)); }
  .list .listEl h3 {
    color: #EA6358;
    font-size: 1.1em;
    font-weight: bold; }
  .list .listEl p {
    color: #EA6358; }

header {
  width: 100%;
  max-width: 100em;
  left: 0;
  top: 0;
  position: relative;
  padding: 15px; }
  header.row {
    margin: 0; }
  header a {
    text-decoration: none; }
  header .logo {
    max-width: 2em; }
  header .mobile-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  header .mobile-menu_logo {
    padding: 15px 15px 0 15px; }
  header .mobile-menu_btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 22.5px;
    cursor: pointer;
    height: 24px;
    width: 24px; }
    header .mobile-menu_btn span {
      display: block;
      background: #000;
      height: 2px;
      width: 26px;
      position: absolute;
      transition: all 0.5s ease;
      background: #EA6358; }
    header .mobile-menu_btn span:nth-child(1) {
      top: 0px; }
    header .mobile-menu_btn span:nth-child(2) {
      top: 8px; }
    header .mobile-menu_btn span:nth-child(3) {
      top: 16px; }
    header .mobile-menu_btn .transparent {
      opacity: 0; }
    header .mobile-menu_btn .rotate-top {
      -ms-transform: rotate(45deg);
      transform: rotatez(45deg);
      -webkit-transform-origin: 0%;
      left: 2px; }
    header .mobile-menu_btn .rotate-bottom {
      -ms-transform: rotate(-45deg);
      transform: rotatez(-45deg);
      -webkit-transform-origin: 15%; }
  header .description {
    padding: 0; }
    header .description a {
      color: #EA6358;
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.1em;
      letter-spacing: 0.01em; }
  header .nav {
    max-height: 0;
    overflow: hidden;
    background: #FFF;
    margin: 0;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.1;
    transition: max-height 0.8s linear; }
    header .nav.active {
      max-height: 100vh;
      overflow: auto; }
  header .main-nav {
    padding: 0; }
    header .main-nav .menu-1 {
      margin-right: 45px; }
    header .main-nav .menu-1::after, header .main-nav .projets-menu::after, header .main-nav .static-menu::after {
      content: "-";
      display: block; }
    header .main-nav ul {
      padding: 0; }
    header .main-nav li {
      padding-top: 2px;
      padding-bottom: 2px;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      header .main-nav li a.active {
        color: #EA6358; }
  header .main-nav_first-level > li:hover, header .main-nav_first-level > li:hover > a {
    color: #000; }
    header .main-nav_first-level > li:hover::before, header .main-nav_first-level > li:hover > a::before {
      color: #000; }
  header .social-network li {
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;
    font-size: 18px; }

footer {
  position: relative;
  left: 18px;
  display: inline-block;
  width: auto;
  margin: 40px 0 15px 0; }
  footer p, footer a {
    color: #EA6358;
    font-size: 13px;
    text-decoration: none; }

.content {
  min-height: 68vh;
  display: none; }

.images-illu-wrapper {
  display: none; }

.texte-courant-page h3, .actu-grid .actu-text h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: normal; }

.texte-courant-page ul, .actu-grid .actu-text ul {
  padding-left: 15px; }
  .texte-courant-page ul li, .actu-grid .actu-text ul li {
    list-style: disc;
    margin: 7.5px 0; }

.content .infos-page {
  margin-top: 15px;
  color: #EA6358;
  padding-right: 0; }
  .content .infos-page p, .content .infos-page a {
    font-size: 13px; }
  .content .infos-page h4 {
    font-size: 13px; }
  .content .infos-page h4 + p {
    margin-top: 0; }
  .content .infos-page h4, .content .infos-page h5, .content .infos-page h6 {
    color: #EA6358;
    font-weight: bold;
    margin: 0px; }
  .content .infos-page a {
    color: #EA6358;
    text-decoration: underline; }
    .content .infos-page a:hover {
      text-decoration: underline; }
  .content .infos-page li {
    margin-bottom: 1.25rem; }
  .content .infos-page .infos-ressources {
    border: 2px solid #EA6358;
    padding: 15px;
    margin-top: 30px; }
    .content .infos-page .infos-ressources h4 {
      margin-bottom: 15px; }
    .content .infos-page .infos-ressources .ressources-list {
      padding: 0; }
    .content .infos-page .infos-ressources li {
      padding: 7.5px 15px;
      margin-bottom: 0;
      word-wrap: break-word; }
      .content .infos-page .infos-ressources li a {
        text-decoration: none; }
      .content .infos-page .infos-ressources li .ress-icon {
        padding-left: 0;
        max-width: 64px; }
      .content .infos-page .infos-ressources li .ress-caption {
        padding: 0; }
        .content .infos-page .infos-ressources li .ress-caption p {
          margin: 0; }

.actu-grid {
  margin-top: 60px; }
  .actu-grid ul {
    padding: 0; }
  .actu-grid li {
    margin-bottom: 30px; }
  .actu-grid .button-actu {
    display: none; }
  .actu-grid .actu-texte {
    border: 2px solid #EA6358;
    padding: 15px;
    color: #EA6358;
    background: #FFF;
    position: relative; }
    .actu-grid .actu-texte h2, .actu-grid .actu-texte h3, .actu-grid .actu-texte h4, .actu-grid .actu-texte h5 {
      color: #EA6358;
      font-size: 1.1em;
      margin: 0; }
    .actu-grid .actu-texte p:after {
      content: "";
      display: block;
      height: 30px; }
    .actu-grid .actu-texte .date-actu {
      text-decoration: underline;
      position: absolute;
      bottom: 15px;
      left: 15px; }
    .actu-grid .actu-texte .lire-plus {
      position: absolute;
      bottom: 15px;
      right: 15px; }
  .actu-grid .actu-image {
    border: 2px solid #EA6358;
    position: relative;
    margin-top: -2px; }
    .actu-grid .actu-image.portrait {
      width: 50%; }

body[data-template="home"] .description-amac {
  font-size: 1.1em;
  color: #EA6358; }

body[data-template="home"] .text-menu a {
  text-decoration: none; }
  body[data-template="home"] .text-menu a:hover {
    color: #EA6358;
    text-decoration: none; }

body[data-template="home"] .text-menu p {
  font-size: 1.5em;
  margin-bottom: 0px; }

body[data-template="page"],
body[data-template="journal"],
body[data-template="actu"],
body[data-template="default"],
body[data-template="contact"],
body[data-template="error"],
body[data-template="equipe"],
body[data-template="projet"],
body[data-template="projets"],
body[data-template="references"],
body[data-template="newsletter"] {
  overflow-x: hidden; }
  body[data-template="page"] .content,
  body[data-template="journal"] .content,
  body[data-template="actu"] .content,
  body[data-template="default"] .content,
  body[data-template="contact"] .content,
  body[data-template="error"] .content,
  body[data-template="equipe"] .content,
  body[data-template="projet"] .content,
  body[data-template="projets"] .content,
  body[data-template="references"] .content,
  body[data-template="newsletter"] .content {
    margin-top: 50px;
    position: relative; }
    body[data-template="page"] .content h1,
    body[data-template="journal"] .content h1,
    body[data-template="actu"] .content h1,
    body[data-template="default"] .content h1,
    body[data-template="contact"] .content h1,
    body[data-template="error"] .content h1,
    body[data-template="equipe"] .content h1,
    body[data-template="projet"] .content h1,
    body[data-template="projets"] .content h1,
    body[data-template="references"] .content h1,
    body[data-template="newsletter"] .content h1 {
      padding: 0 15px;
      color: #EA6358;
      font-weight: bold;
      text-transform: uppercase;
      max-width: 100%; }
    body[data-template="page"] .content h1.h1-clone,
    body[data-template="journal"] .content h1.h1-clone,
    body[data-template="actu"] .content h1.h1-clone,
    body[data-template="default"] .content h1.h1-clone,
    body[data-template="contact"] .content h1.h1-clone,
    body[data-template="error"] .content h1.h1-clone,
    body[data-template="equipe"] .content h1.h1-clone,
    body[data-template="projet"] .content h1.h1-clone,
    body[data-template="projets"] .content h1.h1-clone,
    body[data-template="references"] .content h1.h1-clone,
    body[data-template="newsletter"] .content h1.h1-clone {
      display: none; }

body[data-template="projets"] .content {
  min-height: 75vh; }
  body[data-template="projets"] .content .images-grid li .actu-texte {
    padding: 15px;
    color: #EA6358;
    background: #FFF;
    position: relative; }
    body[data-template="projets"] .content .images-grid li .actu-texte h2, body[data-template="projets"] .content .images-grid li .actu-texte h3, body[data-template="projets"] .content .images-grid li .actu-texte h4, body[data-template="projets"] .content .images-grid li .actu-texte h5 {
      color: #EA6358;
      font-size: 1.1em;
      margin: 0; }
    body[data-template="projets"] .content .images-grid li .actu-texte p {
      font-size: 15px; }
    body[data-template="projets"] .content .images-grid li .actu-texte a {
      color: #EA6358;
      text-decoration: underline; }
    body[data-template="projets"] .content .images-grid li .actu-texte .date-actu {
      text-decoration: underline;
      display: block;
      left: 15px;
      bottom: 15px; }
    body[data-template="projets"] .content .images-grid li .actu-texte .lire-plus {
      display: block;
      color: #000;
      text-decoration: none; }
      body[data-template="projets"] .content .images-grid li .actu-texte .lire-plus:hover {
        text-decoration: underline; }

body[data-template="projet"] .images-projet {
  padding: 0px;
  padding-top: 15px; }
  body[data-template="projet"] .images-projet figure {
    margin: 0;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 15px; }
  body[data-template="projet"] .images-projet .row {
    margin: 0px;
    padding: 0px; }

body[data-template="projet"] .content .infos-page p {
  font-size: 15px; }

body[data-template="journal"] .actu-grid li.actus {
  position: relative;
  border-top: 1px dotted #EA6358;
  padding-top: 15px;
  width: 100%; }
  body[data-template="journal"] .actu-grid li.actus.active h2 {
    color: #EA6358 !important; }
  body[data-template="journal"] .actu-grid li.actus.active .actu-resume {
    display: none; }
  body[data-template="journal"] .actu-grid li.actus.active .actu-text {
    display: block; }
  body[data-template="journal"] .actu-grid li.actus.active .actu-images {
    display: block; }
  body[data-template="journal"] .actu-grid li.actus.active .arrow-wrapper .arrow .open {
    display: none; }
  body[data-template="journal"] .actu-grid li.actus.active .arrow-wrapper .arrow .close {
    display: block; }
  body[data-template="journal"] .actu-grid li.actus .actu-name .actu-date {
    color: #EA6358;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline; }
  body[data-template="journal"] .actu-grid li.actus .actu-name h2 {
    font-size: 2em;
    text-transform: none;
    margin-top: 11px;
    color: #000;
    font-weight: normal;
    margin-bottom: 15px; }
  body[data-template="journal"] .actu-grid li.actus .actu-text {
    display: none; }
  body[data-template="journal"] .actu-grid li.actus .arrow-wrapper {
    position: relative; }
    body[data-template="journal"] .actu-grid li.actus .arrow-wrapper .arrow {
      color: #EA6358;
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0px; }
      body[data-template="journal"] .actu-grid li.actus .arrow-wrapper .arrow .close {
        display: none; }
  body[data-template="journal"] .actu-grid li.actus .actu-images {
    display: none;
    cursor: move; }

body[data-template="journal"] .actu-page {
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px dotted #EA6358; }
  body[data-template="journal"] .actu-page li {
    display: inline-block;
    color: #EA6358;
    padding: 0px 5px; }
    body[data-template="journal"] .actu-page li a {
      color: #EA6358;
      text-decoration: none; }
      body[data-template="journal"] .actu-page li a:hover {
        border-bottom: 1px solid #EA6358; }
      body[data-template="journal"] .actu-page li a.active {
        border-bottom: 1px solid #EA6358; }

body[data-template="contact"] h3 {
  color: #EA6358;
  font-size: 1.1em;
  font-weight: bold; }
  body[data-template="contact"] h3:after {
    content: "—";
    color: #000;
    display: block;
    font-weight: normal; }

body[data-template="equipe"] .equipe-chapeau {
  font-size: 1.1em;
  font-weight: bold;
  color: #EA6358; }

body[data-template="references"] .content ul {
  padding: 0;
  line-height: 1.5; }

body[data-template="references"] h4 {
  font-size: 1.1em;
  color: #EA6358;
  font-weight: bold; }
  body[data-template="references"] h4:after {
    content: '—';
    color: #000;
    display: block;
    font-weight: normal; }

body[data-template="references"] a {
  text-decoration: none; }
  body[data-template="references"] a:hover {
    text-decoration: none;
    color: #EA6358; }

body[data-template="references"] .institutions li {
  padding-left: 35px;
  text-indent: -35px; }

body[data-template="actu"] .actu-texte-date {
  color: #EA6358;
  text-decoration: underline; }

body[data-template="error"] {
  overflow: hidden; }
  body[data-template="error"] canvas {
    display: none;
    border: 2px solid #EA6358; }

@media only screen and (min-width: 48em) {
  header .description {
    margin-left: 30px; }
    header .description p {
      margin: 0; }
  .content h1 {
    text-align: center; }
  body[data-template="home"] .text-production {
    padding-left: 0; }
  body[data-template="home"] .description-amac {
    margin-left: 60px; }
  body[data-template="home"] .text-menu {
    margin-left: 60px; }
  body[data-template="home"] .actu-grid {
    margin-left: 60px; }
  .actu-grid li .actu-image.portrait {
    width: 100%; } }

@media only screen and (min-width: 64em) {
  header .mobile-menu_btn {
    display: none; }
  header .nav {
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: auto;
    max-height: none;
    padding-left: 30px; }
    header .nav .menu-1::after {
      content: none; }
  header .main-nav {
    margin-top: 0; }
  header .main-nav_first-level {
    display: -ms-flexbox;
    display: flex; }
  footer {
    left: 62.5vw; }
  .list .listEl.col-xs-12 {
    max-width: calc(100% - (15px*3)); }
  .list .listEl.col-xs-6 {
    max-width: calc(50% - (15px*2)); }
  .list .listEl.col-xs-4 {
    max-width: calc(33.33% - (15px*2)); }
  .list .listEl.col-xs-3 {
    max-width: calc(25% - (15px*2)); }
  .images-illu-wrapper {
    display: block; }
  .image-illu-page {
    width: 15%;
    min-width: 100px;
    position: absolute;
    z-index: 1000;
    border: 2px solid #EA6358; }
    .image-illu-page:nth-child(1) {
      top: -100px;
      left: 2%; }
    .image-illu-page:nth-child(2) {
      top: -160px;
      right: 4%; }
    .image-illu-page:nth-child(3) {
      top: -220px;
      left: 36%; }
    .image-illu-page:nth-child(4) {
      top: 20vh;
      left: 2%; }
    .image-illu-page:nth-child(5) {
      top: 15vh;
      right: 4%; }
    .image-illu-page:nth-child(6) {
      top: 30vh;
      left: 2%; }
    .image-illu-page a {
      text-decoration: none; }
    .image-illu-page figure {
      margin: 0; }
    .image-illu-page img {
      border-bottom: 2px solid #EA6358; }
    .image-illu-page figcaption {
      padding: 10px;
      color: #EA6358;
      background: #FFF; }
      .image-illu-page figcaption p {
        margin: 0;
        font-size: 13px; }
  body[data-template="home"] {
    overflow: hidden; }
    body[data-template="home"] .description-amac {
      margin-top: -40px; }
    body[data-template="home"] .actu-grid {
      margin-left: 0; }
      body[data-template="home"] .actu-grid ul > li {
        position: absolute;
        cursor: move;
        width: 25em; }
        body[data-template="home"] .actu-grid ul > li:first-child {
          top: 20vh;
          left: 35vw; }
        body[data-template="home"] .actu-grid ul > li:nth-child(2) {
          top: 30vh;
          left: 66vw; }
        body[data-template="home"] .actu-grid ul > li:nth-child(3) {
          top: 13vh;
          left: 3vw; }
        body[data-template="home"] .actu-grid ul > li.not-active {
          background: #EA6358; }
          body[data-template="home"] .actu-grid ul > li.not-active h2, body[data-template="home"] .actu-grid ul > li.not-active .button-actu {
            color: #FFF; }
          body[data-template="home"] .actu-grid ul > li.not-active .actu-texte {
            background: transparent; }
            body[data-template="home"] .actu-grid ul > li.not-active .actu-texte p, body[data-template="home"] .actu-grid ul > li.not-active .actu-texte .actu-infos {
              display: none; }
          body[data-template="home"] .actu-grid ul > li.not-active .actu-image {
            display: none; }
        body[data-template="home"] .actu-grid ul > li .button-actu {
          display: block;
          position: absolute;
          color: #EA6358;
          font-size: 1.3em;
          z-index: 1001;
          top: 10px;
          right: 30px;
          cursor: pointer; }
        body[data-template="home"] .actu-grid ul > li .actu-wrapper {
          position: relative;
          max-height: 250px; }
          body[data-template="home"] .actu-grid ul > li .actu-wrapper .actu-texte {
            position: relative;
            z-index: 999;
            padding-right: 25px; }
            body[data-template="home"] .actu-grid ul > li .actu-wrapper .actu-texte:hover {
              z-index: 1000; }
          body[data-template="home"] .actu-grid ul > li .actu-wrapper .actu-image {
            position: relative;
            top: -100px;
            z-index: 998;
            left: 50%; }
            body[data-template="home"] .actu-grid ul > li .actu-wrapper .actu-image.portrait {
              left: 80%;
              width: 70%; }
            body[data-template="home"] .actu-grid ul > li .actu-wrapper .actu-image:hover {
              z-index: 1000; }
    body[data-template="home"] footer {
      position: absolute;
      bottom: 0; }
  body[data-template="projets"] .content .actu-grid {
    padding: 0 60px; }
    body[data-template="projets"] .content .actu-grid li {
      cursor: move; }
      body[data-template="projets"] .content .actu-grid li:hover .actu-texte {
        opacity: 1; }
      body[data-template="projets"] .content .actu-grid li .actu-wrapper {
        position: relative;
        height: 30vw;
        overflow: hidden;
        border: 2px solid #EA6358; }
      body[data-template="projets"] .content .actu-grid li .actu-texte {
        border: none;
        opacity: 0;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
        transition: all 0.3s ease; }
        body[data-template="projets"] .content .actu-grid li .actu-texte:hover {
          z-index: 1000; }
      body[data-template="projets"] .content .actu-grid li .actu-image {
        transition: all 0.3s ease;
        border: none; }
        body[data-template="projets"] .content .actu-grid li .actu-image img {
          height: 30vw;
          object-fit: cover; }
        body[data-template="projets"] .content .actu-grid li .actu-image:hover {
          z-index: 1000; }
  body[data-template="projet"] .content .infos-page p {
    font-size: 13px; }
  body[data-template="journal"] .actu-grid .actu-images li {
    position: absolute;
    top: 15px;
    left: -100%; }
  body[data-template="error"] canvas {
    display: block; }
  body[data-template="page"] .content h1,
  body[data-template="journal"] .content h1,
  body[data-template="actu"] .content h1,
  body[data-template="default"] .content h1,
  body[data-template="contact"] .content h1,
  body[data-template="error"] .content h1,
  body[data-template="equipe"] .content h1,
  body[data-template="projet"] .content h1,
  body[data-template="projets"] .content h1,
  body[data-template="references"] .content h1,
  body[data-template="newsletter"] .content h1 {
    text-align: left;
    padding: 0;
    font-size: 3.85em;
    position: absolute;
    z-index: 997;
    margin: 0; }
  body[data-template="page"] .content h1.h1-clone,
  body[data-template="journal"] .content h1.h1-clone,
  body[data-template="actu"] .content h1.h1-clone,
  body[data-template="default"] .content h1.h1-clone,
  body[data-template="contact"] .content h1.h1-clone,
  body[data-template="error"] .content h1.h1-clone,
  body[data-template="equipe"] .content h1.h1-clone,
  body[data-template="projet"] .content h1.h1-clone,
  body[data-template="projets"] .content h1.h1-clone,
  body[data-template="references"] .content h1.h1-clone,
  body[data-template="newsletter"] .content h1.h1-clone {
    text-align: right;
    display: block;
    max-width: 33.333%;
    overflow-wrap: break-word; } }

@media only screen and (min-width: 100em) {
  header {
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  main {
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  body[data-template="home"] .actu-grid ul > li:first-child {
    top: 30vh;
    left: 30vw; }
  body[data-template="home"] .actu-grid ul > li:nth-child(2) {
    top: 10vh;
    left: 50vw; }
  body[data-template="home"] .actu-grid ul > li:nth-child(3) {
    top: 20vh;
    left: 0vw; } }

.hyphen {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
